* {box-sizing:border-box;}
body {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.6;color:#333;background-color:#fff;margin:0;padding:20px;}
h1 {font-size:24px;margin-top:20px;margin-bottom:10px;font-weight:500;line-height:1.1;}
h2 {font-size:20px;margin-top:20px;margin-bottom:10px;font-weight:500;line-height:1.1;}
h3 {font-size:16px;margin-top:20px;margin-bottom:10px;font-weight:500;line-height:1.1;}
h4 {font-size:14px;margin-top:10px;margin-bottom:10px;font-weight:500;line-height:1.1;}
h5 {font-size:14px;margin-top:10px;margin-bottom:10px;font-weight:500;line-height:1.1;}
h6 {font-size:14px;margin-top:10px;margin-bottom:10px;font-weight:500;line-height:1.1;}
hr {margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee;}
p {margin:0 0 10px;}
strong {font-weight:700;}
em {font-style:italic;}
a {color:#337ab7;text-decoration:none;word-wrap:break-word;}
img {vertical-align:middle;border:0;max-width:100%;}
code {padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;white-space:pre-wrap;border-radius:4px;font-family:Menlo,Monaco,Consolas,"Courier New",monospace;}
pre code {padding:0;white-wrap:pre-wrap;white-space:pre;background-color:transparent;border-radius:0;position:relative;line-height:1.45;}
pre {display:block;padding:14px 10px;margin:0 0 10px;font-size:13px;line-height:1.42857143;color:#333;background-color:#f6f8fa;border:0;border-radius:3px;font-family:Menlo,Monaco,Consolas,"Courier New",monospace;overflow:auto;position:relative;}
blockquote {padding:0px 20px;margin:0 0 20px;font-size:14px;border-left:5px solid #eee;}
ul {margin-top:0;margin-bottom:10px;}
ol {margin-top:0;margin-bottom:10px;}
ol ol {margim-bottom:0;}
ol ul {margim-bottom:0;}
ul ol {margim-bottom:0;}
ul ul {margim-bottom:0;}
table {width:100%;background-color:transparent;border-spacing:0;border-collapse:collapse;}
td {padding:1px;}
th {padding:1px;}
th[align=left] {text-align:left;}
th[align=center] {text-align:center;}
th[align=right] {text-align:right;}
td[align=left] {text-align:left;}
td[align=center] {text-align:center;}
td[align=right] {text-align:right;}
abbr {border-bottom:1px dotted #777;}
mark {padding:0.2em;background-color:#fcf8e3;}
sub {position:relative;font-size:75%;line-height:0;vertical-align:baseline;bottom:-0.25em;}
sup {position:relative;font-size:75%;line-height:0;vertical-align:baseline;top:-0.5em;}
kbd {padding:2px 4px;font-size:90%;color:#444d56;background-color:#fcfcfc;border-radius:3px;box-shadow:inset 0 -1px 0 #959da5;font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;border:solid 1px #c6cbd1;border-bottom-color:#959da5;}
math {color:inherit;}
lbl {display:inline-block;padding:0 10px;background:#1e87f0;line-height:1.5;font-size:12px;color:#fff;vertical-align:middle;white-space:nowrap;border-radius:2px;text-transform:uppercase;;}
button {margin:0;overflow:visible;display:inline-block;padding:0 30px;vertical-align:middle;font-size:14px;line-height:38px;text-align:center;color:#222;border:1px solid #e5e5e5;background-color:transparent;}
.lbl-success {background-color:#32d296;}
.lbl-warning {background-color:#faa05a;}
.lbl-danger {background-color:#f0506e;}
.container {padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.task-list-item {list-style-type:none;}
.task-list-item-checkbox {vertical-align:middle;margin:0em 0.2em 0.25em -1.6em;}
.footnotes p {margin:0;}
.footnotes li {margin-top:2px;margin-bottom:2px;}
.player {position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.player iframe {position:absolute;top:0;left:0;width:100%;height:100%;}
.twitter-follow-button {vertical-align:middle;}
.hljs {display:block;overflow-x:auto;color:#4d4d4c;padding:0.5em;}
.hljs-type {color:#f5871f;}
.hljs-params {color:#f5871f;}
.hljs-string {color:#718c00;}
.hljs-number {color:#f5871f;}
.hljs-selector-id {color:#c82829;}
.hljs-selector-class {color:#c82829;}
.hljs-comment {color:#8e908c;}
.hljs-quote {color:#
8e908c;}
.hljs-template-tag {color:#880000;}
.hljs-tag {color:#c82829;}
.hljs-name {color:#c82829;}
.hljs-deletion {color:#c82829;}
.hljs-title {color:#4271ae;font-weight:bold;}
.hljs-section {color:#4271ae;font-weight:bold;}
.hljs-regexp {color:#c82829;}
.hljs-symbol {color:#718c00;}
.hljs-variable {color:#c82829;}
.hljs-template-variable {color:#c82829;}
.hljs-link {color:#f5871f;}
.hljs-attribute {color:#eab700;}
.hljs-selector-attr {color:#BC6060;}
.hljs-selector-pseudo {color:#BC6060;}
.hljs-literal {color:#f5871f;}
.hljs-built_in {color:#f5871f;}
.hljs-builtin-name {color:#f5871f;}
.hljs-bullet {color:#718c00;}
.hljs-code {color:#397300;}
.hljs-addition {color:#718c00;}
.hljs-meta {color:#f5871f;}
.hljs-meta-string {color:#4d99bf;}
.hljs-keyword {color:#8959a8;}
.hljs-selector-tag {color:#8959a8;}
.hljs-emphasis {font-style:italic;}
.hljs-strong {font-weight:bold;}
table tr:nth-child(2n) {background-color:#f6f8fa;}
table th {padding:6px 13px;border:1px solid #dfe2e5;}
table td {padding:6px 13px;border:1px solid #dfe2e5;}
pre[language]::before {content:attr(language);position:absolute;top:0;right:5px;padding:2px 1px;text-transform:uppercase;color:#666;font-size:8.5px;}
pre:not([language]) {padding:6px 10px;}
.footnotes li p:last-of-type {display:inline;}
.yt-player {box-shadow:0px 0px 12px rgba(0,0,0,0.2);}
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 481px) {
}
@media screen and (min-width: 641px) {
}
@media screen and (min-width: 961px) {
}
@media screen and (min-width: 1025px) {
}
@media screen and (min-width: 1281px) {
}